@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*Hoja de estilos del proyecto Git asociada a index.html*/

body{
	font-size:1.4rem;	
}
main{
	display:flex;
	flex-direction:row;
	flex-wrap:no wrap;
	
}
article{
	max-width:25%;
	border:3px solid black;
	border-radius:14px;
	padding:8px;
}
h1{
	text-align:center;
	background-color:#82E0AA;
	margin:10px;
	width:auto;
	border-radius:14px;
}

h2{
	font-family:'Ubuntu', sans-serif;
	margin:5px;
	color:#82E0AA;
}

ul{
	font-weight:bold;
	font-size:1.1rem;
}
img{
	max-width:100%;
	height:auto;
}
footer{
	text-align:center;
}
input{
	background-color:salmon;
	font-weight:bold;
	border-radius:14px;
}